@media only screen and (max-width:  1199px)
    .menu
        display: none
    .header-right
        display: none!important
    .header-block-text
        display: none
    .former-address__text
        width: 280px
        height: 108px
    .header-logo
        margin: 0
    .navbar-toggler
        display: block
    .content__title::before
        display: none
    .content
        margin: 0
    .content__title
        padding: 28px 70px 28px 0
    .footer-logo
        margin-left: 0



